<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.wishMapper">

	
	<resultMap type="map" id="wishMap">
		<id column="product_num" property="productNum"/>
		<result column="product_seller" property="productSeller"/>
		<result column="product_title" property="productTitle"/>
		<result column="product_price" property="productPrice"/>
		<result column="product_grade" property="productGrade"/>
		<result column="product_pic" property="productPic"/>
		<result column="mem_nname" property="memNname"/>
		<result column="wish_count" property="wishCount"/>
	</resultMap>
	
	<select id="getMyWish" resultMap="wishMap" parameterType="string">
		SELECT p.product_num as "productNum"
			  ,p.product_title as "productTitle"
			  ,p.product_price as "productPrice"
			  ,p.product_grade as "productGrade"
			  ,p.product_pic as "productPic"
			  ,count(c.member_id) as "wish_count"
		FROM product p join wish w
		ON (p.product_num = w.product_num)
		join wish c
		on (p.product_num = c.product_num)
		<if test='value.equals("admin")'>
		WHERE w.member_id = #{value}
		</if>
		GROUP BY p.product_num
		ORDER BY p.product_num DESC
	</select>

</mapper>