@charset "UTF-8"; 

@
-webkit-keyframes fadeIn { 0%{
	opacity: 0
}

100
%
{
opacity
:
1
}
}
@
keyframes fadeIn { 0%{
	opacity: 0
}

100
%
{
opacity
:
1
}
}
@
-webkit-keyframes fadeOut { 0%{
	opacity: 1
}

100
%
{
opacity
:
0
}
}
@
keyframes fadeOut { 0%{
	opacity: 1
}

100
%
{
opacity
:
0
}
}
@
-webkit-keyframes roundAll { 0%{
	transform: rotate(0)
}

100
%
{
transform
:
rotate(
360deg
)
}
}
@
keyframes roundAll { 0%{
	transform: rotate(0)
}

100
%
{
transform
:
rotate(
360deg
)
}
}
.member .content--wrap {
	padding: 20px 15px 40px
}

.modify-nickname {
	padding: 30px 15px
}

.modify-nickname__modifiable-number {
	margin-bottom: 28px;
	font-size: 16px;
	line-height: 24px;
	text-align: center
}

.modify-nickname__modifiable-number>strong {
	font-size: 18px;
	line-height: 27px
}

.modify-nickname__modifiable-number--caution {
	color: #ff5300
}

.modify-nickname .member-form {
	margin-bottom: 40px
}

.modify-nickname__button {
	display: flex;
	flex-direction: row-reverse;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
	padding: 0 17px;
	background: #000;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	text-align: center;
	align-items: center;
	justify-content: center
}

.modify-nickname__button>span {
	font-size: inherit;
	line-height: 1
}

.modify-nickname__button>svg {
	margin: 0 -5px 0 2px
}

.modify-nickname__button .svg-color {
	fill: #fff
}

.modify-nickname__button:disabled {
	background: #eee;
	color: #aaa;
	cursor: default
}

.modify-nickname__button:disabled .svg-color {
	fill: #aaa
}

.modify-nickname__button:active {
	background: #595959
}

.modify-nickname__guide-list {
	display: block;
	padding-left: 10px;
	font-size: 12px
}

.modify-nickname__guide-list>li {
	display: block;
	position: relative;
	text-align: left;
	word-break: break-all
}

.modify-nickname__guide-list>li+li {
	margin-top: 8px
}

.modify-nickname__guide-list>li[class$=normal] {
	color: #777
}

.modify-nickname__guide-list>li[class$=normal]::before {
	background-color: #777
}

.modify-nickname__guide-list>li[class$=warning] {
	color: #ff5300
}

.modify-nickname__guide-list>li[class$=warning]::before {
	background-color: #ff5300
}

.modify-nickname__guide-list>li[class$=positive] {
	color: #14aaff
}

.modify-nickname__guide-list>li[class$=positive]::before {
	background-color: #14aaff
}

.modify-nickname__guide-list>li[class$=danger] {
	color: red
}

.modify-nickname__guide-list>li[class$=danger]::before {
	background-color: red
}

.modify-nickname__guide-list>li[class$=accent] {
	color: #000
}

.modify-nickname__guide-list>li[class$=accent]::before {
	background-color: #000
}

.modify-nickname__guide-list>li::before {
	display: block;
	position: absolute;
	top: 8px;
	left: -8px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	content: ''
}

.modify-nickname__guide-area {
	margin-top: 70px;
	padding: 20px 15px;
	border-radius: 4px;
	background-color: #f5f5f5;
	color: #6e6e6e
}

.modify-nickname__guide-area__text {
	font-weight: 700;
	line-height: 21px
}

.modify-nickname__guide-area__text--black {
	margin-top: 6px;
	font-weight: 400;
	color: #000
}

.modify-nickname__guide-area__list {
	display: block;
	margin-top: 12px;
	padding-left: 10px;
	font-size: 12px
}

.modify-nickname__guide-area__list>li {
	display: block;
	position: relative;
	text-align: left;
	word-break: break-all
}

.modify-nickname__guide-area__list>li+li {
	margin-top: 8px
}

.modify-nickname__guide-area__list>li[class$=normal] {
	color: #777
}

.modify-nickname__guide-area__list>li[class$=normal]::before {
	background-color: #777
}

.modify-nickname__guide-area__list>li[class$=warning] {
	color: #ff5300
}

.modify-nickname__guide-area__list>li[class$=warning]::before {
	background-color: #ff5300
}

.modify-nickname__guide-area__list>li[class$=positive] {
	color: #14aaff
}

.modify-nickname__guide-area__list>li[class$=positive]::before {
	background-color: #14aaff
}

.modify-nickname__guide-area__list>li[class$=danger] {
	color: red
}

.modify-nickname__guide-area__list>li[class$=danger]::before {
	background-color: red
}

.modify-nickname__guide-area__list>li[class$=accent] {
	color: #000
}

.modify-nickname__guide-area__list>li[class$=accent]::before {
	background-color: #000
}

.modify-nickname__guide-area__list>li::before {
	display: block;
	position: absolute;
	top: 8px;
	left: -8px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	content: ''
}

.setting {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 54px;
	padding: 0 10px 0 15px
}

.setting-area {
	margin-top: 10px
}

.setting__regarding, .setting__title {
	display: flex;
	font-weight: 700;
	font-size: 15px;
	line-height: 22px;
	align-items: center
}

.setting__title {
	flex: 1 1 auto
}

.setting__title__arrow {
	margin-left: auto;
	flex: 0 0 auto
}

.setting__title--sns {
	font-weight: 400
}

.setting__title--leave {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #6e6e6e;
	text-decoration: underline
}

.setting__regarding {
	margin: 0 5px 0 auto;
	color: #6e6e6e;
	flex: 0 0 auto
}

.setting__link {
	display: flex;
	width: 100%
}

.setting__sns {
	display: flex;
	margin: 0 5px 0 auto;
	flex: 0 0 auto;
	align-items: center
}

.setting__sns__input {
	display: none
}

.setting__sns__input:checked+.setting__sns__label {
	background-color: #CE93D8
}

.wrapper-wusinsa .setting__sns__input:checked+.setting__sns__label,
	.wusinsa .setting__sns__input:checked+.setting__sns__label {
	background-color: #685bba
}

.setting__sns__input:checked+.setting__sns__label::before {
	left: 22px;
	border: 0
}

.setting__sns__label {
	position: relative;
	width: 50px;
	height: 30px;
	border-radius: 15px;
	background-color: #f1f1f1;
	transition: background-color .3s ease
}

.setting__sns__label::before {
	position: absolute;
	top: 2px;
	left: 2px;
	box-sizing: border-box;
	width: 26px;
	height: 26px;
	border: .5px solid rgba(0, 0, 0, .1);
	border-radius: 100%;
	background-color: #fff;
	transition: .3s ease;
	content: '';
	will-change: left
}

.leave {
	padding-bottom: 40px
}

.leave__wrap {
	margin-bottom: 40px;
	padding: 0 15px
}

.leave__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 30px
}

.leave__password {
	margin-bottom: 20px
}

.leave__password__label {
	display: inline-block;
	margin-bottom: 5px
}

.leave__password>input[type=password] {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 0 10px;
	border: 1px solid #e5e5e5;
	font-size: 15px;
	line-height: 23px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.leave__password>input[type=password]:-ms-input-placeholder {
	color: #b3b3b3
}

.leave__password>input[type=password]::-moz-placeholder {
	color: #b3b3b3
}

.leave__password>input[type=password]::placeholder {
	color: #b3b3b3
}

.leave__password>input[type=password]:not(:-moz-read-only):focus {
	border-color: #aaa
}

.leave__password>input[type=password]:not(:read-only):focus {
	border-color: #aaa
}

.leave__password>input[type=password]:first-of-type {
	margin-bottom: 16px
}

.leave__notice__title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px
}

.leave__notice__lists {
	margin-bottom: 30px;
	padding-left: 10px
}

.leave__notice__bullet {
	display: block;
	margin-bottom: 24px;
	padding-left: 10px;
	font-size: 14px
}

.leave__notice__bullet>li {
	display: block;
	position: relative;
	text-align: left;
	word-break: break-all
}

.leave__notice__bullet>li+li {
	margin-top: 8px
}

.leave__notice__bullet>li[class$=normal] {
	color: #777
}

.leave__notice__bullet>li[class$=normal]::before {
	background-color: #777
}

.leave__notice__bullet>li[class$=warning] {
	color: #ff5300
}

.leave__notice__bullet>li[class$=warning]::before {
	background-color: #ff5300
}

.leave__notice__bullet>li[class$=positive] {
	color: #14aaff
}

.leave__notice__bullet>li[class$=positive]::before {
	background-color: #14aaff
}

.leave__notice__bullet>li[class$=danger] {
	color: red
}

.leave__notice__bullet>li[class$=danger]::before {
	background-color: red
}

.leave__notice__bullet>li[class$=accent] {
	color: #000
}

.leave__notice__bullet>li[class$=accent]::before {
	background-color: #000
}

.leave__notice__bullet>li::before {
	display: block;
	position: absolute;
	top: 9px;
	left: -8px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	content: ''
}

.leave__notice__checkbox {
	display: inline-flex;
	color: #000;
	align-items: center
}

.leave__notice__checkbox>[class$='__label'] {
	display: inline-flex;
	position: relative;
	width: auto;
	min-height: 20px;
	padding: 0 0 0 26px;
	font-size: 14px;
	color: inherit;
	text-align: left;
	white-space: normal;
	cursor: pointer;
	align-items: center
}

.leave__notice__checkbox>[class$='__label']::after,
	.leave__notice__checkbox>[class$='__label']::before {
	display: block;
	box-sizing: border-box
}

.leave__notice__checkbox>[class$='__label']::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 100%;
	background-color: #f1f1f1;
	content: ''
}

.leave__notice__checkbox>[class$='__label']::after {
	position: absolute;
	top: 11px;
	left: 8px;
	width: 4px;
	height: 8px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: translateY(calc(-50% - 2px)) rotate(45deg)
}

.leave__notice__checkbox>input[type=checkbox]:checked+[class$='__label']::before
	{
	border-color: #CE93D8;
	background-color: #CE93D8
}

.wrapper-wusinsa .leave__notice__checkbox>input[type=checkbox]:checked+[class$='__label']::before,
	.wusinsa .leave__notice__checkbox>input[type=checkbox]:checked+[class$='__label']::before
	{
	border-color: #685bba
}

.wrapper-wusinsa .leave__notice__checkbox>input[type=checkbox]:checked+[class$='__label']::before,
	.wusinsa .leave__notice__checkbox>input[type=checkbox]:checked+[class$='__label']::before
	{
	background-color: #685bba
}

.leave__notice__checkbox>input[type=checkbox]:checked+[class$='__label']::after
	{
	content: ''
}

.leave__notice__checkbox>input[type=checkbox]:disabled:not(:checked)+[class$='__label']::before
	{
	border-color: #eee;
	background-color: #f5f5f5
}

.leave__notice__checkbox>input[type=checkbox]:disabled:checked+[class$='__label']::before
	{
	border-color: #ccc;
	background-color: #ccc
}

.leave__button {
	display: flex;
	box-sizing: border-box;
	width: calc(100% - 20px);
	height: 50px;
	margin: 0 auto;
	background: #f3f3f3;
	font-size: 14px;
	color: #b3b3b3;
	text-align: center;
	align-items: center;
	justify-content: center
}

.leave__button--active {
	display: flex;
	box-sizing: border-box;
	width: calc(100% - 20px);
	height: 50px;
	margin: 0 auto;
	background: red;
	font-size: 14px;
	color: #fff;
	text-align: center;
	align-items: center;
	justify-content: center
}

.member-form__input {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 13px 10px;
	border: 1px solid #ccc;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.member-form__input:-ms-input-placeholder {
	color: #aaa
}

.member-form__input::-moz-placeholder {
	color: #aaa
}

.member-form__input::placeholder {
	color: #aaa
}

.member-form__input:focus {
	border-color: #aaa
}

.member-form__input:-moz-read-only {
	background: #eee
}

.member-form__input:read-only {
	background: #eee
}

.member-form__input:-moz-read-only:focus {
	border-color: #ccc
}

.member-form__input:read-only:focus {
	border-color: #ccc
}

.member-form__input--error {
	border-color: red
}

.member-form__input--error:focus {
	border-color: red
}

.member-form__description {
	margin-top: 7px;
	font-size: 12px;
	line-height: 18px;
	color: #aaa
}

.member-form__description--positive {
	color: #CE93D8
}

.member-form__description--read {
	color: #ff5300
}

.member-form__description--error {
	color: red
}

.benefit__section--MBenefitNonLogin {
	padding-top: 20px
}

.benefit__section--MMyLevel {
	padding: 24px 0 32px
}

.benefit__section--MBenefitLevel {
	padding: 32px 0
}

.benefit__section--MBenefitMusinsa {
	padding: 32px 0 27px
}

.coupon {
	display: flex;
	overflow: hidden;
	overflow-x: auto;
	padding: 0 15px;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none
}

.coupon::-webkit-scrollbar {
	display: none
}

.coupon::-webkit-scrollbar {
	display: none
}

.coupon::after {
	width: 15px;
	height: 30px;
	content: '';
	flex: none
}

.coupon__item {
	display: flex;
	box-sizing: border-box;
	width: 260px;
	height: 50px;
	margin-right: 5px;
	padding: 0 15px;
	border-radius: 4px;
	font-size: 15px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	color: #fff;
	flex: 0 0 auto;
	align-items: center
}

.coupon__item:last-child {
	margin: 0
}

.coupon__item--terrace {
	background-color: #453675
}

.coupon__item--terrace-v2 {
	background-color: #000
}

.coupon__item--direct {
	background-color: #14aaff
}

.coupon__item--download {
	background-color: #CE93D8
}

.coupon__icon {
	display: flex;
	margin-right: 10px
}

.coupon__arrow {
	display: flex;
	margin: 0 0 0 auto
}

.coupon__svg {
	margin-right: 10px
}

.benefit__banner {
	overflow: hidden;
	position: relative;
	padding: 0 15px 21px
}

.benefit__banner--alone {
	padding-bottom: 10px
}

.benefit__banner__link {
	display: block;
	position: relative;
	box-sizing: border-box;
	height: 80px;
	padding: 18px 15px;
	border-radius: 6px
}

.benefit__banner__link__text {
	position: relative;
	z-index: 5;
	max-width: 190px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif
}

.benefit__banner__link__title {
	display: block;
	overflow: hidden;
	font-weight: 400;
	font-size: 15px;
	line-height: 23px;
	white-space: nowrap;
	text-overflow: ellipsis
}

.benefit__banner__link__subtext {
	display: block;
	overflow: hidden;
	opacity: .65;
	font-size: 14px;
	line-height: 21px;
	white-space: nowrap;
	text-overflow: ellipsis
}

.benefit__banner__image {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 90px
}

.benefit__banner__pagination.swiper-pagination {
	bottom: 0;
	line-height: 100%
}

.benefit__banner__pagination.swiper-pagination .swiper-pagination-bullet
	{
	width: 6px;
	height: 6px;
	margin: 0 3px;
	border-radius: 6px;
	background-color: #d1d1d1;
	opacity: 1
}

.benefit__banner__pagination.swiper-pagination .swiper-pagination-bullet-active
	{
	background-color: #000
}

.CBenefitTitle {
	font-size: 18px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif
}

.CMyLevel {
	width: 100%
}

.CMyLevel__icon {
	display: flex;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto
}

.CMyLevel__text {
	margin-top: 12px;
	font-size: 18px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	text-align: center
}

.CMyLevel__next-level {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 12px auto 0;
	padding: 3px 20px;
	border-radius: 100px;
	background-color: #f9f9f9;
	font-size: 12px;
	color: #6e6e6e
}

.CMyLevel__next-level__point {
	font-weight: 400;
	color: #000
}

.CLevelCalculation__title {
	display: flex;
	font-size: 12px;
	color: #6e6e6e;
	text-align: center;
	justify-content: center;
	align-items: center
}

.CLevelCalculation__title__icons-box {
	display: flex;
	margin-left: 1px
}

.CLevelCalculation__title__icons--plus {
	display: flex
}

.CLevelCalculation--on .CLevelCalculation__title__icons--plus {
	display: none
}

.CLevelCalculation__title__icons--minus {
	display: none
}

.CLevelCalculation--on .CLevelCalculation__title__icons--minus {
	display: flex
}

.CLevelCalculation__method {
	display: flex;
	padding-top: 32px;
	justify-content: center
}

.CLevelCalculation__method-box {
	overflow: hidden;
	height: 0
}

.CLevelCalculation--on .CLevelCalculation__method-box {
	height: auto
}

.CLevelCalculation__method__item {
	width: 80px;
	text-align: center
}

.CLevelCalculation__method__title {
	margin-bottom: 2px;
	font-size: 13px;
	color: #919191
}

.CLevelCalculation__method__point {
	font-size: 15px
}

.CLevelCalculation__method__point__division {
	font-size: 13px;
	color: #919191
}

.CLevelCalculation__method__item--current .CLevelCalculation__method__point
	{
	font-weight: 700
}

.CLevelCalculation__method__operation {
	display: flex;
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	margin: 0 8px;
	border: 1px solid #f3f3f3;
	border-radius: 50%;
	align-self: center;
	justify-content: center;
	align-items: center
}

.CLevelCalculation__bullet {
	display: block;
	margin: 12px 15px 0;
	padding-left: 10px;
	font-size: 12px
}

.CLevelCalculation__bullet>li {
	display: block;
	position: relative;
	text-align: left;
	word-break: break-all
}

.CLevelCalculation__bullet>li+li {
	margin-top: 5px
}

.CLevelCalculation__bullet>li[class$=normal] {
	color: #777
}

.CLevelCalculation__bullet>li[class$=normal]::before {
	background-color: #777
}

.CLevelCalculation__bullet>li[class$=warning] {
	color: #ff5300
}

.CLevelCalculation__bullet>li[class$=warning]::before {
	background-color: #ff5300
}

.CLevelCalculation__bullet>li[class$=positive] {
	color: #14aaff
}

.CLevelCalculation__bullet>li[class$=positive]::before {
	background-color: #14aaff
}

.CLevelCalculation__bullet>li[class$=danger] {
	color: red
}

.CLevelCalculation__bullet>li[class$=danger]::before {
	background-color: red
}

.CLevelCalculation__bullet>li[class$=accent] {
	color: #000
}

.CLevelCalculation__bullet>li[class$=accent]::before {
	background-color: #000
}

.CLevelCalculation__bullet>li::before {
	display: block;
	position: absolute;
	top: 8px;
	left: -8px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	content: ''
}

.CLevel__text {
	margin-bottom: 2px;
	font-weight: 400;
	font-size: 13px;
	color: #b3b3b3;
	text-align: center
}

.CLevel--active .CLevel__text {
	font-weight: 700;
	color: #000
}

.CLevel__icon {
	display: flex;
	justify-content: center
}

.CBenefitContent {
	display: flex
}

.CBenefitContent__icon {
	display: flex;
	margin-right: 8px
}

.CBenefitContent__text {
	display: flex;
	flex-direction: column;
	justify-content: center
}

.CBenefitContent__title {
	font-size: 15px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif
}

.CBenefitContent__information {
	margin-top: 2px;
	font-size: 13px;
	color: #919191
}

.CBenefitPopupTitle {
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	text-align: center
}

.CBenefitPopupTitle__title {
	font-weight: 400;
	font-size: 30px;
	line-height: 39px
}

.CBenefitPopupTitle__subtitle {
	margin-top: 4px;
	font-weight: 100;
	font-size: 14px
}

.CBenefitPopupInformation__title {
	font-size: 20px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif
}

.CBenefitPopupInformation__contents {
	margin-top: 16px
}

.CBenefitPopupInformation__contents__title {
	font-weight: 700;
	font-size: 13px
}

.CBenefitPopupInformation__contents__description+.CBenefitPopupInformation__contents__title
	{
	margin-top: 16px
}

.CBenefitPopupInformation__contents__description {
	margin-top: 2px;
	font-size: 14px
}

.CBenefitPopupInformation__contents__sub-description {
	margin-top: 6px;
	font-size: 12px;
	color: #6e6e6e
}

.CBenefitPopupInformation__link {
	display: flex;
	width: 100%;
	height: 50px;
	margin-top: 32px;
	background-color: #f9f9f9;
	font-size: 14px;
	justify-content: center;
	align-items: center
}

.CBenefitPopupInformation__link__icon {
	display: flex
}

.CBenefitPopupInformation--v2__title {
	margin-top: 48px;
	font-size: 18px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	line-height: 27px
}

.CBenefitPopupInformation--v2__contents__title {
	margin-top: 12px;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px
}

.CBenefitPopupInformation--v2__contents__description {
	margin-top: 2px
}

.CBenefitPopupInformation--v2__contents__sub-description {
	margin-top: 6px;
	font-size: 12px;
	line-height: 18px;
	color: #6e6e6e
}

.CBenefitPopupInformation--v2__link {
	display: flex;
	width: 100%;
	height: 50px;
	margin-top: 48px;
	background-color: #f9f9f9;
	font-size: 14px;
	justify-content: center;
	align-items: center
}

.CBenefitPopupInformation--v2__link__icon {
	display: flex
}

.CBenefitPopupCoupon {
	display: flex;
	flex-direction: column;
	align-items: center
}

.CBenefitPopupCoupon__coupon {
	position: relative;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content
}

.CBenefitPopupCoupon__coupon__image {
	display: flex
}

.CBenefitPopupCoupon__coupon__text {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 24px;
	height: 80px;
	font-weight: 100;
	font-size: 30px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	line-height: 40px;
	color: #fff;
	transform: translateY(-50%)
}

.CBenefitPopupCoupon__coupon .svg-color {
	fill: #000
}

.CBenefitPopupCoupon__state {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 22px;
	margin-top: 16px;
	padding: 0 10px;
	font-size: 14px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif
}

.CBenefitPopupCoupon__state--done {
	color: #b3b3b3
}

.CBenefitPopupCoupon__state--upgrade {
	box-sizing: border-box;
	height: auto;
	min-height: 24px;
	margin: 16px 4px 0;
	padding: 3px 12px;
	border-radius: 100px;
	background-color: #f9f9f9;
	font-size: 12px;
	font-family: '-apple-system', HelveticaNeue, Roboto, 'Noto Sans KR',
		helvetica, Gulim, sans-serif;
	line-height: 18px;
	color: #6e6e6e
}

.MBenefitNonLogin {
	padding: 0 15px
}

.MBenefitNonLogin__log-in {
	display: flex;
	font-weight: 700;
	font-size: 30px;
	align-items: center
}

.MBenefitNonLogin__log-in__icon {
	display: flex;
	margin-left: 2px
}

.MBenefitNonLogin__text {
	margin-top: 10px;
	font-size: 16px
}

.MBenefitNonLogin__sign-up {
	display: flex;
	width: 100%;
	height: 50px;
	margin-top: 24px;
	font-weight: 700;
	font-size: 15px;
	align-items: center;
	justify-content: center
}

.MBenefitNonLogin__sign-up__icon {
	display: flex;
	margin-left: 2px
}

.MMyLevel .CMyLevel {
	margin-bottom: 16px
}

.MBenefitLevel .CBenefitTitle {
	margin-bottom: 24px;
	padding: 0 15px
}

.MBenefitLevel .MLevelList {
	margin: 0 auto 32px;
	padding: 0 15px
}

.MBenefitLevel .MBenefitContent2column {
	margin-bottom: 32px;
	padding: 0 15px
}

.MBenefitMusinsa .CBenefitTitle {
	margin-bottom: 24px;
	padding: 0 15px
}

.MBenefitMusinsa .MBenefitContent1column {
	margin-bottom: 32px;
	padding: 0 15px
}

.MBenefitNotice {
	padding: 32px 15px;
	background-color: #f3f3f3
}

.MBenefitNotice__title {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 14px;
	color: #4f4f4f
}

.MBenefitNotice__bullet {
	display: block;
	padding-left: 10px;
	font-size: 12px
}

.MBenefitNotice__bullet>li {
	display: block;
	position: relative;
	text-align: left;
	word-break: break-all
}

.MBenefitNotice__bullet>li+li {
	margin-top: 5px
}

.MBenefitNotice__bullet>li[class$=normal] {
	color: #777
}

.MBenefitNotice__bullet>li[class$=normal]::before {
	background-color: #777
}

.MBenefitNotice__bullet>li[class$=warning] {
	color: #ff5300
}

.MBenefitNotice__bullet>li[class$=warning]::before {
	background-color: #ff5300
}

.MBenefitNotice__bullet>li[class$=positive] {
	color: #14aaff
}

.MBenefitNotice__bullet>li[class$=positive]::before {
	background-color: #14aaff
}

.MBenefitNotice__bullet>li[class$=danger] {
	color: red
}

.MBenefitNotice__bullet>li[class$=danger]::before {
	background-color: red
}

.MBenefitNotice__bullet>li[class$=accent] {
	color: #000
}

.MBenefitNotice__bullet>li[class$=accent]::before {
	background-color: #000
}

.MBenefitNotice__bullet>li::before {
	display: block;
	position: absolute;
	top: 8px;
	left: -8px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	content: ''
}

.MBenefitPopupNotice {
	padding: 32px 15px;
	background-color: #f3f3f3
}

.MBenefitPopupNotice__title {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 14px;
	color: #4f4f4f
}

.MBenefitPopupNotice__bullet {
	display: block;
	padding-left: 10px;
	font-size: 12px
}

.MBenefitPopupNotice__bullet>li {
	display: block;
	position: relative;
	text-align: left;
	word-break: break-all
}

.MBenefitPopupNotice__bullet>li+li {
	margin-top: 5px
}

.MBenefitPopupNotice__bullet>li[class$=normal] {
	color: #777
}

.MBenefitPopupNotice__bullet>li[class$=normal]::before {
	background-color: #777
}

.MBenefitPopupNotice__bullet>li[class$=warning] {
	color: #ff5300
}

.MBenefitPopupNotice__bullet>li[class$=warning]::before {
	background-color: #ff5300
}

.MBenefitPopupNotice__bullet>li[class$=positive] {
	color: #14aaff
}

.MBenefitPopupNotice__bullet>li[class$=positive]::before {
	background-color: #14aaff
}

.MBenefitPopupNotice__bullet>li[class$=danger] {
	color: red
}

.MBenefitPopupNotice__bullet>li[class$=danger]::before {
	background-color: red
}

.MBenefitPopupNotice__bullet>li[class$=accent] {
	color: #000
}

.MBenefitPopupNotice__bullet>li[class$=accent]::before {
	background-color: #000
}

.MBenefitPopupNotice__bullet>li::before {
	display: block;
	position: absolute;
	top: 8px;
	left: -8px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	content: ''
}

.MLevelList {
	display: grid;
	max-width: 345px;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px 0;
	justify-content: center
}

.MLevelList__point {
	font-size: 13px
}

.MLevelList__point-box {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 5;
	align-items: center;
	justify-content: center
}

.MLevelList__level {
	margin-right: 8px;
	font-weight: 700;
	font-size: 15px
}

.MBenefitContent1column .CBenefitContent {
	margin-bottom: 24px
}

.MBenefitContent1column .CBenefitContent:last-child {
	margin-bottom: 0
}

.MBenefitContent2column {
	display: flex;
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(2, 50%);
	grid-gap: 24px 0
}

.MBenefitPopupTerrace__guide {
	display: flex;
	flex-direction: column;
	align-items: center
}

.MBenefitPopupTerrace__guide__text {
	margin: 4px 32px 8px;
	padding: 3px 12px;
	border-radius: 100px;
	background-color: #f3faff;
	font-weight: 400;
	font-size: 12px;
	color: #14aaff;
	text-align: center
}

.MBenefitPopupTerrace .CBenefitPopupCoupon {
	margin-top: 32px
}

.MBenefitPopupTerrace .CBenefitPopupInformation--v2 {
	margin-bottom: 32px;
	padding: 0 32px
}

.event-banners--type1 {
	overflow: hidden;
	position: relative;
	padding: 16px 15px 41px;
	background-color: #f1f1f1
}

.event-banners--type1__link {
	display: block;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	padding: 18px 15px;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0 4px 16px rgba(0, 0, 0, .15)
}

.event-banners--type1__link__title {
	display: block;
	position: relative;
	z-index: 5;
	font-weight: 400;
	font-size: 15px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	line-height: 23px;
	color: #000
}

.event-banners--type1__link__text {
	display: block;
	position: relative;
	z-index: 5;
	opacity: .4;
	font-size: 14px;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	line-height: 21px;
	color: #000
}

.event-banners--type1__image {
	position: absolute;
	top: 0;
	right: 0;
	width: 135px;
	height: 80px
}

.event-banners--type1__pagination {
	bottom: 0;
	line-height: 100%
}

.event-banners--type1__pagination .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	margin: 0 3px;
	background-color: #d1d1d1;
	opacity: 1
}

.event-banners--type1__pagination .swiper-pagination-bullet-active {
	background-color: #000
}

.event-banners--type1__alone {
	padding-bottom: 20px
}

.btn-more-point {
	padding: 30px 20px 40px;
	background-color: #f1f1f1
}

.btn-more-point input.btn-more {
	border-color: #ccc
}

.personal-sns-list__item {
	display: flex;
	align-items: center
}

.personal-sns-list__item+.personal-sns-list__item {
	margin-top: 20px
}

.personal-sns-list__item__logo {
	height: 40px;
	margin-right: 8px;
	flex-basis: 40px
}

.personal-sns-list__item__text {
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	color: #6e6e6e
}

.personal-sns-list__item__text-wrap {
	overflow: hidden;
	flex: 1
}

.personal-sns-list__item__channel-name {
	overflow: hidden;
	font-family: "Cairo", sans-serif;
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	line-height: 21px;
	color: #CE93D8;
	white-space: nowrap;
	text-overflow: ellipsis
}

.personal-sns-list__item__connection-date {
	display: block;
	margin-top: 1px;
	font-size: 12px;
	line-height: 18px;
	color: #b3b3b3
}

.personal-sns-list .connection-button {
	padding-left: 20px
}

.personal-sns-list .connection-button__button {
	display: inline-flex;
	box-sizing: border-box;
	height: 26px;
	padding: 0 8px;
	border-radius: 4px;
	background-color: #CE93D8;
	line-height: 21px;
	color: #fff;
	white-space: nowrap;
	align-items: center
}

.personal-sns-list .connection-button__button--active {
	background-color: #f3f3f3;
	color: #000
}

.contact-us {
	padding-bottom: 30px
}

.contact-us__wrap {
	padding: 25px 15px 30px
}

.contact-us__wrap__precautions-list {
	display: block;
	padding-bottom: 4px;
	padding-left: 10px;
	font-size: 12px
}

.contact-us__wrap__precautions-list>li {
	display: block;
	position: relative;
	text-align: left;
	word-break: break-all
}

.contact-us__wrap__precautions-list>li+li {
	margin-top: 8px
}

.contact-us__wrap__precautions-list>li[class$=normal] {
	color: #777
}

.contact-us__wrap__precautions-list>li[class$=normal]::before {
	background-color: #777
}

.contact-us__wrap__precautions-list>li[class$=warning] {
	color: #ff5300
}

.contact-us__wrap__precautions-list>li[class$=warning]::before {
	background-color: #ff5300
}

.contact-us__wrap__precautions-list>li[class$=positive] {
	color: #14aaff
}

.contact-us__wrap__precautions-list>li[class$=positive]::before {
	background-color: #14aaff
}

.contact-us__wrap__precautions-list>li[class$=danger] {
	color: red
}

.contact-us__wrap__precautions-list>li[class$=danger]::before {
	background-color: red
}

.contact-us__wrap__precautions-list>li[class$=accent] {
	color: #000
}

.contact-us__wrap__precautions-list>li[class$=accent]::before {
	background-color: #000
}

.contact-us__wrap__precautions-list>li::before {
	display: block;
	position: absolute;
	top: 8px;
	left: -8px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	content: ''
}

.contact-us__wrap__precautions-list>li[class$=normal] {
	color: #6e6e6e
}

.contact-us__wrap__precautions-list>li[class$=normal]::before {
	background-color: #6e6e6e
}

.contact-us__agreement-wrap {
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
	align-items: center
}

.contact-us__agreement__clause-button {
	color: #6e6e6e;
	text-decoration: underline
}

.contact-us__agreement__toggle {
	display: none;
	margin-top: 15px
}

.contact-us__agreement__toggle--active {
	display: block
}

.contact-us__agreement__toggle__title {
	font-weight: 700;
	font-size: 12px;
	line-height: 18px
}

.contact-us__agreement__toggle__list {
	font-size: 11px;
	line-height: 17px
}

.contact-us__agreement__toggle__list-title {
	margin-top: 5px;
	font-weight: 700
}

.contact-us--store-entry-inquiry__toggle {
	display: none;
	margin-top: 10px
}

.contact-us--store-entry-inquiry__toggle--active {
	display: block
}

.contact-us__tab-wrap .tab-segment-list {
	display: flex;
	border-top: 1px solid #e5e5e5;
	flex-wrap: wrap
}

.contact-us__tab-wrap .tab-segment-list__button {
	box-sizing: border-box;
	width: 33.33%;
	padding: 11px 5px;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	background-color: #f9f9f9;
	color: #000;
	text-align: center
}

.contact-us__tab-wrap .tab-segment-list__button:nth-child(3n-2) {
	border-left: none
}

.contact-us__tab-wrap .tab-segment-list__button--active {
	background-color: #CE93D8;
	font-weight: 700;
	color: #fff
}

.contact-us__tab-wrap .tab-segment-panel {
	margin: 15px 15px 20px;
	padding: 15px;
	border-radius: 8px;
	background-color: #f9f9f9
}

.contact-us__tab-wrap .tab-segment-panel__title {
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px;
	color: #333
}

.contact-us__tab-wrap .tab-segment-panel__list {
	display: block;
	padding-left: 10px;
	font-size: 12px
}

.contact-us__tab-wrap .tab-segment-panel__list>li {
	display: block;
	position: relative;
	text-align: left;
	word-break: break-all
}

.contact-us__tab-wrap .tab-segment-panel__list>li+li {
	margin-top: 5px
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=normal] {
	color: #777
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=normal]::before
	{
	background-color: #777
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=warning] {
	color: #ff5300
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=warning]::before
	{
	background-color: #ff5300
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=positive] {
	color: #14aaff
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=positive]::before
	{
	background-color: #14aaff
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=danger] {
	color: red
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=danger]::before
	{
	background-color: red
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=accent] {
	color: #000
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=accent]::before
	{
	background-color: #000
}

.contact-us__tab-wrap .tab-segment-panel__list>li::before {
	display: block;
	position: absolute;
	top: 8px;
	left: -8px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	content: ''
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=normal] {
	color: #333
}

.contact-us__tab-wrap .tab-segment-panel__list>li[class$=normal]::before
	{
	background-color: #333
}

.member-form__title {
	display: inline-block;
	margin: 24px 0 8px
}

.member-form__title__essential {
	display: inline-block;
	overflow: hidden;
	width: 4px;
	height: 4px;
	margin: 4px 0 8px;
	border-radius: 50%;
	background-color: red;
	text-indent: -9999px;
	vertical-align: top
}

.member-form__notification {
	margin: 10px 0 0 4px;
	font-size: 12px;
	color: #6e6e6e
}

.contact-us__wrap .member-form:first-child .member-label {
	margin-top: 0
}

.member-label {
	display: inline-block;
	margin: 24px 0 8px
}

.member-label__essential {
	display: inline-block;
	overflow: hidden;
	width: 4px;
	height: 4px;
	margin: 4px 0 8px;
	border-radius: 50%;
	background-color: red;
	text-indent: -9999px;
	vertical-align: top
}

.member-label__tooltip {
	display: inline-block;
	position: relative
}

.member-label__tooltip__icon {
	margin-top: 1px;
	line-height: 1;
	vertical-align: top
}

.member-label__tooltip--bottom {
	display: none;
	position: absolute;
	top: calc(100% + 4px);
	left: -10px;
	z-index: 1;
	box-sizing: border-box;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: auto;
	padding: 8px 8px 6px;
	border-radius: 4px;
	background: #CE93D8;
	opacity: 0;
	font-weight: 400;
	font-size: 11px;
	font-family: "-apple-system", "Apple SD Gothic Neo", Roboto,
		"Noto Sans KR", helvetica, Gulim, sans-serif;
	line-height: 1.5;
	color: #fff;
	text-align: left;
	transform: translate3d(0, -8px, 0);
	-webkit-animation: tooltipOutSlide .3s cubic-bezier(.25, .1, .25, 1)
		forwards, fadeOut .3s ease forwards;
	animation: tooltipOutSlide .3s cubic-bezier(.25, .1, .25, 1) forwards,
		fadeOut .3s ease forwards;
	align-items: flex-start;
	justify-content: space-between
}

.wrapper-wusinsa .member-label__tooltip--bottom, .wusinsa .member-label__tooltip--bottom
	{
	background: #685bba
}

.member-label__tooltip--bottom::before {
	position: absolute;
	top: -3px;
	left: calc(50% + 1px)
}

.member-label__tooltip--bottom::before {
	width: 6px;
	height: 6px;
	background: #CE93D8;
	transform: rotate(45deg) translateZ(0);
	content: ''
}

.wrapper-wusinsa .member-label__tooltip--bottom::before, .wusinsa .member-label__tooltip--bottom::before
	{
	background: #685bba
}

.member-label__tooltip--bottom [class$='__close'] {
	display: flex;
	height: 30px;
	margin: -8px -8px -8px 0;
	align-items: center;
	justify-content: center;
	flex: 0 0 30px
}

.member-label__tooltip--bottom [class$='__close']>svg polygon {
	fill: #fff
}

.member-label__tooltip--bottom--active {
	display: inline-flex;
	-webkit-animation: tooltipInSlide .3s cubic-bezier(.25, .1, .25, 1)
		forwards, fadeIn .3s ease forwards;
	animation: tooltipInSlide .3s cubic-bezier(.25, .1, .25, 1) forwards,
		fadeIn .3s ease forwards
}

.member-label__tooltip--bottom--hide {
	-webkit-animation: tooltipOutSlide .3s cubic-bezier(.25, .1, .25, 1)
		forwards, fadeOut .3s ease forwards;
	animation: tooltipOutSlide .3s cubic-bezier(.25, .1, .25, 1) forwards,
		fadeOut .3s ease forwards
}

@
-webkit-keyframes tooltipInSlide { 100%{
	transform: translate3d(0, 0, 0)
}

}
@
keyframes tooltipInSlide { 100%{
	transform: translate3d(0, 0, 0)
}

}
@
-webkit-keyframes tooltipOutSlide { 0%{
	transform: translate3d(0, 0, 0)
}

99
.9 %{
	transform: translate3d(0, 0, 0)
}

100
%
{
display
:
none
}
}
@
keyframes tooltipOutSlide { 0%{
	transform: translate3d(0, 0, 0)
}

99
.9 %{
	transform: translate3d(0, 0, 0)
}

100
%
{
display
:
none
}
}
.member-label__tooltip--bottom::before {
	left: 16px
}

.member-select {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 50px;
	padding: 13px 31px 12px 11px;
	background: 0 0;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.member-select:focus {
	color: #000
}

.member-select:disabled {
	background-color: #f3f3f3;
	opacity: .7;
	color: #b3b3b3
}

.member-select:invalid {
	color: #6e6e6e
}

.member-select:valid {
	color: #000
}

.member-select option[value=''][disabled] {
	display: none
}

.member-select__wrap {
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 1px solid #e5e5e5;
	border-radius: 4px
}

.member-select__wrap:focus-within {
	border-color: #6e6e6e
}

.member-select__wrap:focus-within>svg {
	transform: rotate(180deg)
}

.member-select__wrap:focus-within .svg-color {
	fill: #000
}

.member-select__wrap--error {
	border-color: red
}

.member-select__wrap--error:focus-within {
	border-color: red
}

.member-select--filled {
	color: #000
}

.member-select__svg--dropdown {
	position: absolute;
	top: calc(50% - 3px);
	right: 10px
}

.member-input {
	width: 100%;
	height: 48px;
	padding: 0 12px;
	border-radius: 4px;
	background-color: #fff;
	font-size: 15px;
	color: #000;
	box-shadow: 0 0 0 30px #fff inset !important;
	transition: border .2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	flex: 0 1 auto
}

.member-input:-ms-input-placeholder {
	color: #6e6e6e
}

.member-input::-moz-placeholder {
	color: #6e6e6e
}

.member-input::placeholder {
	color: #6e6e6e
}

.member-input:disabled {
	border-color: #e5e5e5;
	background-color: #f3f3f3;
	color: #b3b3b3;
	box-shadow: 0 0 0 30px #f3f3f3 inset !important
}

.member-input:-moz-read-only {
	border-color: #e5e5e5;
	background-color: #f3f3f3;
	box-shadow: 0 0 0 30px #f3f3f3 inset !important
}

.member-input:read-only {
	border-color: #e5e5e5;
	background-color: #f3f3f3;
	box-shadow: 0 0 0 30px #f3f3f3 inset !important
}

.member-input:not(:-moz-read-only):focus {
	border-color: #aaa
}

.member-input:not(:read-only):focus {
	border-color: #aaa
}

.member-input[type=email]::-ms-clear, .member-input[type=number]::-ms-clear,
	.member-input[type=password]::-ms-clear, .member-input[type=password]::-ms-reveal,
	.member-input[type=tel]::-ms-clear, .member-input[type=text]::-ms-clear
	{
	display: none !important
}

.member-input[type=number]::-webkit-inner-spin-button, .member-input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none
}

.member-input__wrap {
	display: flex;
	box-sizing: border-box;
	height: 50px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	justify-content: space-between;
	align-items: center
}

.member-input__wrap:focus-within {
	border-color: #6e6e6e;
	transition: border .2s ease-in-out
}

.member-input__wrap+.member-input__wrap {
	margin-top: 10px
}

.member-input__wrap--error {
	border-color: red !important
}

.member-input__wrap--error+.member-input__error-text {
	margin: 8px 0 0 4px;
	font-size: 11px;
	line-height: 17px;
	color: red
}

.member-input__wrap--disabled {
	background-color: #f3f3f3
}

.member-input__wrap--readonly {
	background-color: #f3f3f3
}

.member-input__wrap--readonly-exception {
	background-color: #fff
}

.member-input__wrap--readonly-exception .member-input:-moz-read-only {
	background-color: #fff;
	box-shadow: 0 0 0 30px #fff inset !important
}

.member-input__wrap--readonly-exception .member-input:read-only {
	background-color: #fff;
	box-shadow: 0 0 0 30px #fff inset !important
}

.member-input__button-clear {
	display: none;
	margin-right: 7px;
	padding: 5px;
	flex: 0 0 auto
}

.member-input__button-clear--active {
	display: flex
}

.member-input__button-text {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 11px;
	padding: 2.5px 8px;
	border-radius: 4px;
	background-color: #f3f3f3;
	font-size: 14px;
	line-height: 21px;
	color: #000;
	white-space: nowrap;
	flex: 0 0 auto
}

.member-input__button-text:disabled {
	color: #b3b3b3;
	cursor: default
}

.member-input__helper-text--blue {
	margin: 8px 0 0 4px;
	font-size: 11px;
	line-height: 17px;
	color: #CE93D8
}

.member-textarea {
	box-sizing: border-box;
	width: 100%;
	height: 150px;
	padding: 14px 12px 13px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	font-size: 15px;
	line-height: 23px;
	color: #000;
	white-space: normal;
	resize: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.member-textarea:-ms-input-placeholder {
	color: #6e6e6e
}

.member-textarea::-moz-placeholder {
	color: #6e6e6e
}

.member-textarea::placeholder {
	color: #6e6e6e
}

.member-textarea:focus {
	border-color: #6e6e6e
}

.member-textarea--error {
	border-color: red
}

.member-textarea--error:focus {
	border-color: red
}

.member-textarea__error-text {
	margin: 8px 0 0 4px;
	font-size: 11px;
	line-height: 17px;
	color: red
}

.member-radio--button {
	display: grid;
	margin-top: 2px;
	grid-template-columns: 1fr 1fr;
	gap: 0 8px
}

.member-radio--button .member-radio__label {
	display: block;
	box-sizing: border-box;
	padding: 14px 0 13px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	color: #000;
	text-align: center
}

.member-radio--button .member-radio__radio:checked+.member-radio__label
	{
	border-color: #CE93D8;
	color: #CE93D8
}

.member-checkbox {
	display: inline-flex;
	position: relative;
	color: #000;
	align-items: center
}

.member-checkbox>[class$='__label'] {
	display: inline-flex;
	position: relative;
	width: auto;
	min-height: 20px;
	padding: 0 0 0 26px;
	font-size: 14px;
	color: inherit;
	text-align: left;
	white-space: normal;
	cursor: pointer;
	align-items: center
}

.member-checkbox>[class$='__label']::after, .member-checkbox>[class$='__label']::before
	{
	display: block;
	box-sizing: border-box
}

.member-checkbox>[class$='__label']::before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 100%;
	background-color: #f1f1f1;
	content: ''
}

.member-checkbox>[class$='__label']::after {
	position: absolute;
	top: 11px;
	left: 8px;
	width: 4px;
	height: 8px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: translateY(calc(-50% - 2px)) rotate(45deg)
}

.member-checkbox>input[type=checkbox]:checked+[class$='__label']::before
	{
	border-color: #CE93D8;
	background-color: #CE93D8
}

.wrapper-wusinsa .member-checkbox>input[type=checkbox]:checked+[class$='__label']::before,
	.wusinsa .member-checkbox>input[type=checkbox]:checked+[class$='__label']::before
	{
	border-color: #685bba
}

.wrapper-wusinsa .member-checkbox>input[type=checkbox]:checked+[class$='__label']::before,
	.wusinsa .member-checkbox>input[type=checkbox]:checked+[class$='__label']::before
	{
	background-color: #685bba
}

.member-checkbox>input[type=checkbox]:checked+[class$='__label']::after
	{
	content: ''
}

.member-checkbox>input[type=checkbox]:disabled:not(:checked)+[class$='__label']::before
	{
	border-color: #eee;
	background-color: #f5f5f5
}

.member-checkbox>input[type=checkbox]:disabled:checked+[class$='__label']::before
	{
	border-color: #ccc;
	background-color: #ccc
}

.member-checkbox>input[type=checkbox]:focus+label {
	outline: 1px dotted #000
}

.contact-us__wrap .member-checkbox {
	margin-top: 20px
}

.contact-us__wrap .member-checkbox>[class$='__label'] {
	padding: 0 0 0 28px
}

.contact-us__wrap .contact-us__checkbox {
	color: red
}

.contact-us__agreement-wrap .member-checkbox {
	margin-top: 0
}

.member-button__button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 14px 12px 13px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	font-size: 14px;
	line-height: 21px;
	color: #000;
	text-align: center
}

.member-button__button--contained-black {
	border-color: #000;
	background-color: #000;
	font-weight: 700;
	color: #fff
}

.contact-us__wrap .member-button__button--contained-black {
	margin-top: 40px
}

.layer_cont {
	overflow: hidden;
	overflow-y: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999999;
	box-sizing: border-box;
	min-width: 320px;
	padding: 20px;
	background: #fff;
	font-size: 14px;
	line-height: 22px;
	-webkit-overflow-scrolling: touch
}

.layer_cont .layer-tit {
	padding: 5px 0 11px 0;
	border-bottom: 4px solid #000;
	font-weight: 700;
	font-size: 22px;
	line-height: 30px;
	color: #000
}

.layer_cont .layer_btn {
	overflow: hidden;
	margin: 0 -3px;
	padding-bottom: 10px
}

.layer_cont .layer_btn .btn {
	display: block;
	float: left;
	width: calc(50% - 6px);
	height: 45px;
	margin: 0 3px;
	background: #f1f1f1;
	font-weight: 700;
	line-height: 45px;
	color: #000;
	text-align: center
}

.layer_cont .layer_btn .btn.btn-accent {
	background: #000;
	color: #fff
}

.layer_cont .layer_close {
	display: block;
	overflow: hidden;
	position: absolute;
	top: 20px;
	right: 10px;
	width: 40px;
	height: 40px;
	background: url(/skin/m_musinsa/images/btn_popup_close2.gif) no-repeat
		50% 50%;
	background-size: 18px 18px;
	text-indent: -9999px
}

.layer_cont .box-call-cell input, .layer_cont .box-certify input {
	border: 1px solid #ddd
}

.layer-certify input[type=tel] {
	padding-left: 10px
}

.g-list-explain li {
	margin-top: 6px;
	padding-left: 9px;
	background: url(/skin/m_musinsa/images/list_dash.png?20161024) no-repeat
		0 0;
	line-height: 18px;
	color: #b2b2b2
}

.g-list-explain li:first-child {
	margin-top: 0
}

.new-agreement {
	padding: 28px 15px 40px 15px
}

.new-agreement__table {
	max-width: 840px
}

.new-agreement__table td, .new-agreement__table th {
	padding: 2px;
	border: 1px solid #000
}