body { position:relative; left:0; transition:left 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
body.expand { overflow-x:hidden; }
body.expand #aside { visibility:visible; overflow-x:hidden; }
body.expand #layoutDimmed { display:block; }
body.expand #aside { left:0; }

#aside { z-index:1001; visibility:hidden; position:fixed; display:block; top:0px; bottom:0; overflow:auto; overflow-x:hidden; min-width:225px; width:340px; background-color:#fff; transition:500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);}
#aside .btnClose { position:absolute; top:15px; right:15px; font-size:22px; }

.slide_inner { position:relative; margin:50px; }
.slide_inner .maincate { margin:0 0 40px; }
.slide_inner .maincate p { font-size:17px; line-height:29px; }
.slide_inner .maincate .shopfold { cursor:pointer; }
.slide_inner .maincate .shopfold i { display:inline-block; font-size:12px; vertical-align:0; }
.slide_inner .maincate ul { display:none; margin:5px 5px 15px; }
.slide_inner .maincate ul li { font-size:16px; line-height:26px; }
.slide_inner > p { font-size:15px; line-height:27px; }
.slide_inner .m_top { margin:15px 0 0; }

@media all and (max-width:1024px){
    body.expand { left:300px; position:fixed; }
    #aside { left:-300px; width:300px; }
    .slide_inner { margin:30px; }
}
@media all and (min-width:1025px){
    body { transition:none; }
    #aside { left:0; width:0; min-width:0; opacity:0; }
}

